.App {
    text-align: right;
}

.App-logo {
    height: 60px;
    float: left;
}

.App-header {
    background-color: transparent;
    min-height: 60px;
    padding: 10px 30px;
}

.App-link {
    color: #09d3ac;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(https://source.unsplash.com/random/1280x720);
    background-color: #3d414d;
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: right;
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 0;
}
@media (min-width: 768px) {
    .login .App-logo {
        height: 250px;
        margin: 30px;
    }
}

@media (max-width: 767px) {
    .login .App-logo {
        height: 33vw;
        margin: 30px;
    }
}

.loginBtn {
    color: #3d414d;
    text-decoration: none;
    border: 1px solid #949494;
    border-radius: 4px;
    font-size: 18px;
    padding: 10px 20px;
    background: #dddddd;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.loginBtn:hover {
    background: #949494;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}


